{% extends "layout.html" %}
{% block content %}
<div class="w3-container w3-padding-32" id="About">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">About SWEnet</h3>
    <p><b>SWENET</b> – The Network Community for Software Engineering Education – is a project to produce and organize 
        high-quality materials supporting software engineering education. As a first step in this process, 
        a framework will be developed which serves as a high-level taxonomy for the areas of knowledge comprising 
        software engineering. The framework will not be developed ab initio, but rather will build on the work of 
        the ABET program criteria for software engineering education and the classification proposed by the 
        Software Engineering Body of Knowledge (SWEBOK) project sponsored by the IEEE Computer Society. 
        Four areas of particular importance to undergraduate software engineering – design, quality, 
        requirements, and process – have been singled out as the most appropriate starting points for developing 
        curricular materials.
    </p>
    <br>
    <p>
      Each of these areas will be further subdivided into modules, each encompassing one to six lecture hours of material.
       These are not to be construed as providing a canonical way of presenting software engineering concepts. 
       Indeed, this project will not define a particular curriculum model. A more modest (but achievable) goal is to 
       provide tested materials that can be adopted, modified, and enhanced by engineering educators across the nation. 
       The modules serve simply to organize these materials - data sets, program samples, lab activities, etc. - in a 
       coherent fashion. The repository thus created will be a dynamic, evolving clearinghouse to which all members of 
       the software engineering community can add new and improved materials.
    </p>
    <br>
    <p>
      The repository will, first and foremost, aid those faculty members interested in learning about software engineering 
      and incorporating these principles in their courses. In some cases this will lead to full baccalaureate programs in 
      software engineering; at the other end of the spectrum, basic concepts may form threads that are woven through the
       computing courses of a different engineering discipline. The non-prescriptive nature of the repository will both 
       encourage and support experimentation with the best way to teach software engineering in each institution's specific
        context.
    </p>
    <br>
    <p>A second effect will be the collection in one location of materials that have been tried and tested in classrooms and
       laboratories. The relative immaturity of software engineering means that such materials, which are common in more 
       established disciplines, are difficult to acquire. The synergy created by encouraging both the use and contribution 
       of material will help alleviate this problem.
    </p>
    <br>
    <p>
        It is also expected that these materials will find use other than in standard academic programs. Industrial training 
        courses can be built from these resources, thus addressing the common situation where junior engineers are involved
         in software-intensive projects for which their education is insufficient. High school teachers can use the repository 
         to build software engineering into traditional science and technology courses. Finally, the results of using the 
         repository will shed light on the adequacy of the initial framework, leading to improved versions of documents such
          as those from SWEBOK.
    </p>
    <br>
    <p>
        The project will require three years, with each year primarily devoted to one particular aspect. In the first year,
         the focus will be on the design of the framework architecture, the creation of a web site (or sites) modeled on this 
         framework, and the definition and development of modules and materials in the four areas of emphasis. The second year 
         will see the incorporation of these materials in new or existing courses at the project institutions, and the 
         subsequent assessment of student performance and evaluation of the materials themselves. Based on this information,
          the materials will be refined, and in the third year they will be introduced in a select few volunteer institutions 
          outside the original group. In addition, the third year will be devoted to dissemination and publicity. The project 
          plan calls for a series of publications, tutorials, and workshops to inform engineering educators about SWENET, and 
          to entice them to acquire, adopt, and adapt the materials. This in turn will fuel the effort to expand and improve 
          SWENET indefinitely.
      </p>
  </div>
  <center>
      <table id="Table2" cellspacing="0" cellpadding="7" width="80%" border="0">
        <tbody>
          <tr>
            <td width="48%">
              <h5 align="center">Michael J. Lutz (PI)</h5>
              <p align="center"><a href="http://www.rit.edu"><img height="60%" src="../static/images/organization/RIT.png" width="60%" ></a></p>
            </td>
    </center>
    <p>
  <td width="52%"><strong>Address</strong>:<br>
    134 Lomb Memorial Dr.<br>
    Rochester, NY 14623<br>
    Phone: 585-475-2472<br>
    Email: <a href="mailto:mikelutz@mail.rit.edu">mikelutz@mail.rit.edu</a>
  </td>
  </p></tr>
<p></p>
<center>
  <tr>
    <td width="48%">
      <h5 align="center">W. Michael McCracken (PI)</h5>
      <p align="center"><a href="http://www.gatech.edu"><img height="60%" src="../static/images/organization/GeorgiaTech.png" width="60%" border="0"></a></p>
    </td>
    <td width="52%"><strong>Address</strong>:<br>
      College of Computing<br>
      Georgia Institute of Technology
      <br>
      Atlanta, Georgia 30332-0280
      <br>
      Phone: 404-894-6172<br>
      Email: <a href="mailto:mike@cc.gatech.edu">mike@cc.gatech.edu</a></td>
  </tr>
  <tr>
    <td width="48%">
      <h5 align="center">Susan Mengel (PI)</h5>
      <p align="center"><a href="http://www.ttu.edu"><img height="60%" src="../static/images/organization/Temple.png" width="60%" border="0"></a></p>
    </td>
    <td width="52%"><strong>Address</strong>:<br>
      Texas Tech University<br>
      P.O. Box 43104<br>
      Lubbock, TX 79403-3104<br>
      Phone: 806-742-3527 or 800-528-5583<br>
      Email: <a href="mailto:Mengel@ttu.edu">Mengel@ttu.edu</a></td>
  </tr>
  <tr>
    <td width="48%">
      <h5 align="center">Mark Sebern</h5>
      <p align="center"><a href="http://www.msoe.edu"><img height="60%" src="../static/images/organization/MSOE.png" width="60%" border="0"></a></p>
    </td>
    <td width="52%"><strong>Address</strong>:<br>
      1025 North Broadway<br>
      Milwaukee, WI 53202-3109<br>
      Phone: 414-277-7213<br>
      Email: <a href="mailto:sebern@msoe.edu">sebern@msoe.edu</a></td>
  </tr>
  <tr>
    <td width="48%">
      <h5 align="center">Gregory W. Hislop</h5>
      <p align="center"><a href="http://www.drexel.edu"><img height="60%" src="../static/images/organization/Drexel.png" width="60%" border="0"></a></p>
    </td>
    <td width="52%"><strong>Address</strong>:<br>
      Drexel University<br>
      3141 Chestnut Street<br>
      Philadelphia, PA 19104-2875<br>
      Phone: 215-895-2179<br>
      Email: <a href="mailto:hislopg@post.drexel.edu">hislop@drexel.edu</a></td>
  </tr>
  <tr>
    <td width="48%">
      <h5 align="center">Thomas B. Hilburn</h5>
      <p align="center"><a href="http://www.erau.edu"><img height = "60%" src="../static/images/organization/EmbryRiddle.png" width = "60%" border="0"></a></p>
    </td>
    <td width="52%"><strong>Address</strong>:<br>
      Embry-Riddle University<br>
      600 S. Clyde Morris Blvd<br>
      Office: LB 145<br>
      Daytona Beach, FL 32114<br>
      Phone: 386-226-6889<br>
      Email: <a href="mailto:hilburn@erau.edu">hilburn@erau.edu</a></td>
  </tr>
</table><br><br>
</CENTER>
{% endblock content %}