{% extends "layout.html" %}
{% block content %}
<title>SWENET</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body style= "background-image: url(static/images/organization/Background2.jpg);   background-size: cover">
  <div>
      <!--seeking menu-->
        <a  class="w3-bar-item " style="max-width:1564px"><b>Seeking</b> </a>
        <div class="w3-center">
          <a href="#" class="w3-bar-item w3-button">All</a>
          <a href="#" class="w3-bar-item w3-button">Computer Essentails</a>
          <a href="#" class="w3-bar-item w3-button">Software Design</a>
          <a href="#" class="w3-bar-item w3-button">Software Evolution</a>
          <a href="#" class="w3-bar-item w3-button">Mathematical and Engineering Fundamentals</a>
          <a href="#" class="w3-bar-item w3-button">Software Modeling and Analysis</a>
          <a href="#" class="w3-bar-item w3-button">Software Management</a>
          <a href="#" class="w3-bar-item w3-button">professional Practice</a>
          <a href="#" class="w3-bar-item w3-button">Software Process</a>
          <a href="#" class="w3-bar-item w3-button">Software Quality</a>
          <a href="#" class="w3-bar-item w3-button">System and Application Specialties</a>
          <a href="#" class="w3-bar-item w3-button">Software Verification and Validation</a>
        </div>
    
      </div>
</div>


<br><br>

<div class="w3-content w3-padding" style="max-width:1564px">

  <div class="w3-container w3-padding-32" id="gretting">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center" >Welcome to SWENET</h1>
  </div>

</div>


<div class="w3-content w3-padding" style="max-width:1564px">

  <div class="w3-container w3-padding-32" id="Description">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">What is SWENET?</h3>
    <p><b>SWENET</b> – The Network Community for Software Engineering Education – is a project to produce and organize 
        high-quality materials supporting software engineering education. As a first step in this process, 
        a framework will be developed which serves as a high-level taxonomy for the areas of knowledge comprising 
        software engineering. The framework will not be developed ab initio, but rather will build on the work of 
        the ABET program criteria for software engineering education and the classification proposed by the 
        Software Engineering Body of Knowledge (SWEBOK) project sponsored by the IEEE Computer Society. 
        Four areas of particular importance to undergraduate software engineering – design, quality, 
        requirements, and process – have been singled out as the most appropriate starting points for developing 
        curricular materials.
    </p>
  </div>

  <div class="w3-container w3-padding-32 w3-center" id="Joint">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">A joint project of</h1>
        <a href='https://rit.edu'><img src="../static/images/organization/RIT.png" alt="RIT" style="width:10%"> </a>
        <a href='https://ttu.edu'><img src="../static/images/organization/Temple.png" alt="Temple" style="width:10%"> </a>
        <a href='https://gatech.edu'><img src="../static/images/organization/GeorgiaTech.png" alt="GerogiaTech" style="width:10%"> </a>
        <a href='https://drexel.edu'><img src="../static/images/organization/Drexel.png" alt="Drexel" style="width:10%"> </a>
        <a href='https://erau.edu'><img src="../static/images/organization/EmbryRiddle.png" alt="EmbryRiddle" style="width:10%"> </a>
        <a href='https://msoe.edu'><img src="../static/images/organization/MSOE.png" alt="MSOE" style="width:10%"> </a>
        <a href='https://nsf.edu'><img src="../static/images/organization/Grant.png" alt="Grant" style="width:10%"> </a>
    </form>
  </div>

</div>

</body>

{% endblock content %}